<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>KAKAO_APP_RESTFUL_KEY</key>
	<string>a173c52af842104cd1b4f230570bcd9b</string>
</dict>
</plist>
