<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakaologin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao794c3c6e502b330cf0a9303a414d0da9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naverloginonlines</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>naverloginonlines</string>
				<string>naversearchthirdlogin</string>
				<string>naversearchapp</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_RESTFUL_KEY</key>
	<string>a173c52af842104cd1b4f230570bcd9b</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchthirdlogin</string>
		<string>naversearchapp</string>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>GowunDodum-Regular.ttf</string>
		<string>NanumSquareNeo-bRg.ttf</string>
		<string>NanumURiDdarSonGeurSsi.ttf</string>
		<string>NotoSansNKo-Regular.ttf</string>
		<string>AppleSDGothicNeoB.ttf</string>
		<string>AppleSDGothicNeoEB.ttf</string>
		<string>AppleSDGothicNeoH.ttf</string>
		<string>AppleSDGothicNeoL.ttf</string>
		<string>AppleSDGothicNeoM.ttf</string>
		<string>NanumMyeongjo-YetHangul.ttf</string>
	</array>
</dict>
</plist>
